:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffff;
  --background-color: #ffffff;
  --header-logo-span: #000000;
  --hero-background-color: #000000;
  --hero-footer-bg-color: #2f303a;
  --section-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
}
.html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  margin: 0 auto;
}

/* стилизация хедера */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 215px 0 0;
}
.header a {
  text-decoration: none;
}
.logo-name a {
  font-family: Railway, sans-serif;
  font-style: bold;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-left: 215px;
  color: var(--header-logo-span);
}
.logo-accent-color {
  color: var(--accent-color);
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-menu li {
  font-size: 14px;
}
.nav-menu li a {
  text-decoration: none;
  color: var(--title-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.6;
  padding-right: 50px;
}
.nav-menu li a:hover {
  color: var(--accent-color);
}
.svg-container {
  position: relative;
}
.icon1 {
  position: absolute;
  left: -30px;
  bottom: 6px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}
.icon2 {
  position: absolute;
  left: -20px;
  bottom: 4px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}
.icon1:hover {
  fill: currentColor;
}
.icon2:hover {
  fill: currentColor;
}

/* общие классы, применяющиеся по всему документу */

.button {
  display: inline-block;
  background-color: var(--accent-color);
  padding: 10px 32px 10px 32px;
  position: relative;
}
.button .btn a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: var(--background-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
}
.section-accent-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 3%;
  text-transform: uppercase;
}
.content-list {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1170px;
  align-items: flex-start;
  list-style: none;
}
.text-image-box {
  display: inline-block;
  line-height: 1.4;
  margin-right: 10px;
  align-items: flex-start;
  position: relative;
}
.section-head-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.section-description {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #757575;
}
.section-name-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.paragraph-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.social-list {
  max-width: 210px;
  display: inline-flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}
.social-list li {
  margin-right: 10px;
  list-style-type: none;
  border-radius: 50px;
}
.social-icon {
  width: 44px;
  height: 44px;
  --color1: white;
  --color2: #afb1b8;
}
.social-icon :hover {
  --color1: #2196f3;
  --color2: white;
}

/* дополнительная стилизация по секциям */
.hero {
  width: 100%;
  background-color: var(--hero-background-color);
  max-height: 600px;
}
.hero .head-main-text {
  text-align: center;
  text-transform: uppercase;
  padding-top: 200px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.03em;
  line-height: 1.6;
  color: var(--background-color);
}
.hero .button {
  margin: 30px 0 200px 700px;
}
.hero .button a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: var(--background-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
}
.hero {
  background-image: url(img/hero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.our-features {
  width: 100%;
}
.our-features .content-list {
  margin-top: 30px;
}
.our-features-box {
  display: inline-block;
  max-width: 270px;
  margin-right: 20px;
}
.our-features-box .icon3 {
  width: 70px;
  height: 70px;
  background-color: var(--section-background-color);
  padding: 25px 100px 25px 100px;
}
.our-features-box h3 {
  color: var(--title-color);
  text-align: left;
  width: 270px;
  margin-top: 10px;
}
.our-features-box > .paragraph-text {
  width: 100%;
  margin-top: 10px;
}
.about-us {
  width: 100%;
  margin-bottom: 94px;
}
.about-us .content-list {
  width: 100%;
}
.about-us .text-image-box h3 {
  position: absolute;
  bottom: -7px;
  color: var(--background-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  padding: 27px 0px 27px 0px;
  text-align: center;
}
.our-team {
  width: 100%;
  background-color: #f5f4fa;
}
.our-team .section-head-text {
  padding: 94px 0px 10px 0px;
}
.our-team .content-list {
  padding-bottom: 94px;
}
.our-team .team-card {
  max-width: 270px;
  display: inline-block;
  background-color: var(--background-color);
  margin-right: 20px;
  text-align: center;
}
/* .team-card-title {
  font-family: Roboto, sans-serif;
  font-style: bold;
  font-weight: 900;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
} */

.customers {
  width: 100%;
}
.customers .content-list {
  margin-bottom: 94px;
}
.customers .section-head-text {
  padding: 94px 0px 50px 0px;
}
/*иконки в файле _customers-svg*/

/* стилизация футера */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--footer-background-color);
}
.footcontainer {
  display: inline-block;
}
.footcontainer h3 {
  color: var(--background-color);
  margin-top: 72px;
}
.footer a {
  text-decoration: none;
}
.footer .logo-name {
  margin-top: 60px;
}
.footer .logo-name a {
  color: var(--background-color);
}
.footer .address-box {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  margin: 20px 0px 60px 215px;
}
.footer .address-box a {
  text-decoration: none;
}
.footer .address-box span {
  color: var(--background-color);
}
.footer .address-box .contact {
  text-decoration: none;
  color: var(--primary-text-color);
}
.footcontainer .social-list {
  padding: 0;
}
.footer .social-list .social-icon {
  --color1: rgba(255, 255, 255, 0.1);
}
.orderform {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 215px;
}
input {
  width: 307px;
  height: 30px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #fff;
  background-color: var(--footer-background-color);
}
.btn2 {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent-color);
  margin-left: 10px;
  position: relative;
}
.btn2 a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--background-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  position: absolute;
  bottom: 17px;
  left: 40px;
}
.btn2 .social-icon {
  position: absolute;
  left: 110px;
  fill: currentColor;
}

/* стили для страниці портфолио */

.btn-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 94px 0 34px 0;

}
.btn-list .btn {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: var(--title-color);
  background-color: #F5F4FA;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
}
.btn-list .btn:hover {
  color: var(--background-color);
  background-color: #2196F3;
}
.grid-dimension {
  display: grid;
  grid-template-rows: 23.125rem 23.125rem 23.125rem;
  grid-template-columns: 23.125rem 23.125rem 23.125rem;
  gap: 30px;
  padding: 0 215px 0 215px;
  margin: 94px 0 94px 0;
}
.grid-dimension .section-name-text {
  text-align: left;
  padding-left: 24px;
}
.grid-dimension .section-description {
  text-align: left;
  padding-left: 24px;
}
