:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffff;
  --background-color: #ffffff;
  --header-logo-span: #000000;
  --hero-background-color: #000000;
  --hero-footer-bg-color: #2f303a;
  --section-background-color: #f5f4fa;
}

.container {
  max-width: 1600px;
  max-height: 2831px;
  margin: auto;
}

.hero {
  padding-right: 55px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 41px;
}

.hero-title {
  position: absolute;
  width: 696px;
  height: 120px;
  padding-left: 452px;
  padding-top: 200px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-button {
  position: absolute;
  width: 200px;
  height: 50px;
  margin-left: 700px;
  margin-top: 350px;
  margin-bottom: 200px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.header {
  display: flex;
  max-width: 1600px;
  height: 80px;
  margin-top: 32px;
  justify-content: space-between;
  text-align: justify;

  background: var(--background-color);
}

.main-nav {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.nav-list {
  padding-left: 93px;
  width: 100%;
  display: flex;
}

.nav-list li {
  margin-left: 50px;
}

.nav-list li:hover {
  color: #2196f3;
}

.nav-contacts {
  display: flex;
  padding-left: 331px;
  padding-right: 50px;
  width: 100%;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.nav-contacts li:hover {
  color: var(--accent-color);
}

.nav-contacts li:not(:last-child) {
  margin-right: 50px;
}

.logo-name {
  width: 145px;
  height: 31px;
  padding-left: 215px;
  padding-right: 1240;
  padding-top: 26px;
  padding-bottom: 23px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: var(--title-color);
}

.logo-name-footer {
  width: 145px;
  height: 31px;
  padding-left: 215px;
  padding-right: 1240;
  padding-top: 60px;
  padding-bottom: 160px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: var(--white-text-color);
}

.logo-text-color {
  color: var(--accent-color);
}

.studio-description {
  width: 100%;
  padding-left: 215px;
  padding-top: 94px;
}

.descript-direct {
  display: flex;
  max-width: 1170px;
  justify-content: space-between;
}

.description-frame {
  margin-right: 30px;
  width: 270px;
  height: 101px;
}

.description-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.description-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.about-us {
  padding-left: 215px;
  padding-top: 94px;
}

.about-us ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.our-team {
  padding-left: 0px;
  padding-top: 94px;

  background-color: var(--section-background-color);
}

.our-team h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;

  color: var(--title-color);
}

.our-team span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.footer {
  max-width: 1600px;
  height: 252px;

  background-color: var(--hero-footer-bg-color);
}

.footer-address-block {
  width: 230px;
  height: 81px;
  box-sizing: content-box;
  padding-top: 111px;
  padding-left: 215px;
  line-height: 1.5;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
}

.footer-address-block a {
  color: var(--primary-text-color);
}

.street-name {
  color: var(--white-text-color);
}

.section-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
